a {
    font-weight: 500;
    color: #844f4f;
    text-decoration: inherit;
  }
  a:hover {
    color: #844f4f;
  }
  
  body {
    font-family: "Times New Roman", Times, serif;
    background-color: #ffffff;
    color: #111111;
  }
  .container {
    padding: 10px 20px;
    margin: 0 auto;
    background-color: #ffffff;
  }
  
  h1 {
    font-size: 20px;
    line-height: 1;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 8px;
    font-size: 16px;
    font-weight: 400;
    background-color: #dad8d8;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  p {
    margin: 0;
  }
  button:hover {
    border-color: #844f4f;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #844f4f;
      background-color: #ffffff;
    }
    a:hover {
      color: #844f4f;
    }
    button {
      background-color: #ffffff;
    }
  }